<a href="https://colab.research.google.com/github/Mahender-224/Data-Science-Assignments/blob/main/NLP/sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Statement:**
  Given the dataset of new papers articles with the author, we need to classify the article postive or negatives based on the information provided.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Reading the datasets
train = pd.read_csv("/content/train.csv")

In [ ]:
test = pd.read_csv("/content/test.csv")

In [ ]:
submit = pd.read_csv("/content/submit.csv")

In [ ]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

From above if we see test datasets doesn't have the labels.

In [ ]:
submit.head()

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

From we can see submit dataset contains only labels

In [ ]:
test.shape, submit.shape

((5200, 4), (5200, 2))

We can see that test and submit datasets have the same number of records

Let's now merge the labels from submit datasets to the test dataset

In [ ]:
test = pd.merge(test, submit, on = "id", how = "inner")

In [ ]:
test.head()

,id,title,author,text,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",0
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,1
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,0
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1

In [ ]:
test.shape

(5200, 5)

In [ ]:
train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [ ]:
train.shape

(20800, 5)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

From above we can see that training dataset contains the 5 columns and among them title, author and text have the missing values

In [ ]:
train.dropna(inplace = True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18285 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18285 non-null  int64
 1   title   18285 non-null  object
 2   author  18285 non-null  object
 3   text    18285 non-null  object
 4   label   18285 non-null  int64
dtypes: int64(2), object(3)
memory usage: 857.1+ KB

In [ ]:
test.shape

(5200, 5)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
 4   label   5200 non-null   int64
dtypes: int64(2), object(3)
memory usage: 243.8+ KB

Let's remove all the rows with null values

In [ ]:
test.dropna(inplace = True)

Let's concat the training and test dataset

In [ ]:
df = pd.concat([train,test], axis = 'rows')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22860 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      22860 non-null  int64
 1   title   22860 non-null  object
 2   author  22860 non-null  object
 3   text    22860 non-null  object
 4   label   22860 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.0+ MB

In [ ]:
df['content'] = df['author'] + "_" + df['title']

In [ ]:
import nltk

nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
wordmet = WordNetLemmatizer()
stemmer = PorterStemmer()

def clean(text):
  text = "".join([re.sub('[^a-zA-Z]', ' ', char) for char in text])
  text = text.lower()
  text = text.split()
  text = [wordmet.lemmatize(word) for word in text if word not in set(stopwords.words("english"))]
  text = " ".join(text)
  return text

In [ ]:
df["content "] = df["content"].apply(clean)

In [ ]:
df.head()

,id,title,author,text,label,content,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,Darrell Lucus_House Dem Aide: We Didn’t Even S...,darrell lucus house dem aide even see comey le...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"Daniel J. Flynn_FLYNN: Hillary Clinton, Big Wo...",daniel j flynn flynn hillary clinton big woman...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Consortiumnews.com_Why the Truth Might Get You...,consortiumnews com truth might get fired
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Jessica Purkiss_15 Civilians Killed In Single ...,jessica purkiss civilian killed single u airst...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Howard Portnoy_Iranian woman jailed for fictio...,howard portnoy iranian woman jailed fictional ...

In [ ]:
import tensorflow
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM, Dense, Dropout, Bidirectional

In [ ]:
vocab_size = 20000

In [ ]:
title = df["content"]
title[0]

0    Darrell Lucus_House Dem Aide: We Didn’t Even S...
0    David Streitfeld_Specter of Trump Loosens Tong...
Name: content, dtype: object

In [ ]:
one_hot_r = [one_hot(words, vocab_size) for words in title]

In [ ]:
one_hot_r[0:2]

[[16083,
  9871,
  18842,
  4369,
  14199,
  14944,
  8445,
  2188,
  19230,
  11400,
  16879,
  17334,
  15913,
  18110,
  6673,
  6071],
 [10576, 2981, 549, 549, 6232, 10065, 13234, 18091, 5736, 1621, 13585]]

In [ ]:
sent_len = 50
embedded_docs = pad_sequences(one_hot_r, padding = "post", maxlen=sent_len)

In [ ]:
embedded_docs[0]

array([16083,  9871, 18842,  4369, 14199, 14944,  8445,  2188, 19230,
       11400, 16879, 17334, 15913, 18110,  6673,  6071,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0], dtype=int32)

In [ ]:
sgd = tensorflow.keras.optimizers.SGD(learning_rate = 0.01, momentum = 0.9, nesterov = True)
rms = tensorflow.keras.optimizers.RMSprop()
nadam = tensorflow.keras.optimizers.Nadam(learning_rate = 0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-07, name = "Nadam")

In [ ]:
embedding_vector_features = 50
model = Sequential()
model.add(Embedding(vocab_size, embedding_vector_features, input_length = sent_len))
model.add(Bidirectional(LSTM(100)))
model.add(Dropout(0.1))
model.add(Dense(1, activation = 'sigmoid'))

In [ ]:
model.compile(loss = 'binary_crossentropy', optimizer= nadam, metrics = ['accuracy'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 50, 50)            1000000

 bidirectional_2 (Bidirectio  (None, 200)              120800
 nal)

 dropout_2 (Dropout)         (None, 200)               0

 dense_2 (Dense)             (None, 1)                 201

=================================================================
Total params: 1,121,001
Trainable params: 1,121,001
Non-trainable params: 0
_________________________________________________________________

In [ ]:
len(embedded_docs)

22860

In [ ]:
X= embedded_docs[:train.shape[0]]
y = df['label'][:train.shape[0]]
x_test = embedded_docs[train.shape[0]:]

In [ ]:
y

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 18285, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
es = tensorflow.keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)

In [ ]:
model.fit(X_train, y_train, validation_data = (x_valid, y_valid), epochs = 100, batch_size = 128, callbacks=[es])

Epoch 1/100
115/115 [==============================] - 67s 259ms/step - loss: 0.3187 - accuracy: 0.8354 - val_loss: 0.0908 - val_accuracy: 0.9694
Epoch 2/100
115/115 [==============================] - 29s 256ms/step - loss: 0.0361 - accuracy: 0.9900 - val_loss: 0.0567 - val_accuracy: 0.9768
Epoch 3/100
115/115 [==============================] - 32s 279ms/step - loss: 0.0168 - accuracy: 0.9976 - val_loss: 0.0383 - val_accuracy: 0.9850
Epoch 4/100
115/115 [==============================] - 29s 250ms/step - loss: 0.0051 - accuracy: 0.9994 - val_loss: 0.0334 - val_accuracy: 0.9891
Epoch 5/100
115/115 [==============================] - 29s 249ms/step - loss: 0.0017 - accuracy: 0.9999 - val_loss: 0.0379 - val_accuracy: 0.9850
Epoch 6/100
115/115 [==============================] - 30s 257ms/step - loss: 0.0011 - accuracy: 0.9999 - val_loss: 0.0423 - val_accuracy: 0.9847
Epoch 7/100
115/115 [==============================] - 29s 255ms/step - loss: 8.6742e-04 - accuracy: 0.9999 - val_loss: 0.0461 - val_accuracy: 0.9836
Epoch 8/100
115/115 [==============================] - 29s 251ms/step - loss: 2.0139e-04 - accuracy: 1.0000 - val_loss: 0.0558 - val_accuracy: 0.9806
Epoch 9/100
115/115 [==============================] - 29s 253ms/step - loss: 1.2697e-04 - accuracy: 1.0000 - val_loss: 0.0755 - val_accuracy: 0.9795
Epoch 10/100
115/115 [==============================] - 31s 267ms/step - loss: 1.0395e-04 - accuracy: 1.0000 - val_loss: 0.0669 - val_accuracy: 0.9817
Epoch 11/100
115/115 [==============================] - 30s 261ms/step - loss: 7.0786e-05 - accuracy: 1.0000 - val_loss: 0.0711 - val_accuracy: 0.9800
Epoch 12/100
115/115 [==============================] - 30s 260ms/step - loss: 5.4585e-05 - accuracy: 1.0000 - val_loss: 0.0769 - val_accuracy: 0.9787
Epoch 13/100
115/115 [==============================] - 31s 273ms/step - loss: 4.1855e-05 - accuracy: 1.0000 - val_loss: 0.0957 - val_accuracy: 0.9773
Epoch 14/100
115/115 [==============================] - 31s 269ms/step - loss: 3.5169e-05 - accuracy: 1.0000 - val_loss: 0.0878 - val_accuracy: 0.9768

In [ ]:
y_pred = model.predict(x_valid)

115/115 [==============================] - 4s 32ms/step

In [ ]:
y_pred = [1 if x > 0.5 else 0 for x in y_pred]

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_pred, y_valid)

array([[2063,   21],
       [  19, 1554]])